@font-face {
  font-family: "ProximaNovareg";
  src: url("../../static/fonts/proximaNova/ProximaNovaReg.woff") format("woff");
} 

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../../static/fonts/proximaNova/ProximaNovaBold.woff") format("woff");
} 

html {
    font-family: 'ProximaNovareg', cursive;
    font-weight: 400;
    font-size:62.5%;
    overflow: hidden;
  }

  .Container-wrapper{
    max-width: initil;
    padding: 2rem , 4rem;
  }

 