@font-face {
  font-family: "ProximaNovareg";
  src: url("../../static/fonts/proximaNova/ProximaNovaReg.woff") format("woff");
} 

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../../static/fonts/proximaNova/ProximaNovaBold.woff") format("woff");
} 

@-ms-viewport{
  width: device-width;
}

html {
    font-family: 'ProximaNovareg', cursive;
    font-weight: 400;
    font-size:62.5%;
    overflow: hidden;
  }

  @media only screen and (max-width: 1280px) {
    html {
      font-size:51.5%;
    }
  }

  .Container-wrapper{
    max-width: initil;
    padding: 2rem , 4rem;
  }

 